{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mt-4 mb-4">About Us</h2>
            <img src="{% static 'media/about-us.jpg' %}" alt="About Us Banner" class="img-fluid mb-4">

            <p>Welcome to <b>Ryan Mobile</b>, where cutting-edge technology meets unbeatable service! We're not
                just a store; we're your go-to destination for the latest and greatest in mobile devices.</p>

            <p>At <b>Ryan Mobile</b>, we understand that your smartphone is more than just a device; it's an
                integral part of your lifestyle. Our mission is to provide you with the best selection of smartphones,
                accessories, and exceptional customer service.</p>

            <h4>Our Passion for Technology</h4>
            <p>Our journey began with a passion for technology and a commitment to delivering devices that empower your
                life. Whether you're a tech enthusiast or a casual user, we have the perfect device to suit your
                needs.</p>

            <h4>Customer-Centric Approach</h4>
            <p>We pride ourselves on our customer-centric approach. Your satisfaction is our top priority, and our
                knowledgeable staff is always ready to assist you in finding the ideal cellphone that fits your
                preferences and requirements.</p>

            <h4>Meet Our Team</h4>
            <p>Our dedicated team consists of tech enthusiasts who share a common goal: providing you with an
                unparalleled shopping experience. We stay updated on the latest trends and innovations to bring you the
                best products in the market.</p>

            <h4>Visit Us Today!</h4>
            <p>Whether you're looking for the latest flagship smartphone, trendy accessories, or expert advice, <b>Ryan Mobile</b> is your one-stop destination. Visit our store today and discover a world of
                possibilities in the palm of your hand!</p>

        </div>
    </div>
</div>