<!-- footer.html -->
<div class="row fixed-footer">
    <div class="footer-dark col-12">
        <div class="row m-0">
            <div class="col-6 item">
                <h3 class="mb-3 ml-5">Menu</h3>
                <ul class="pl-0 ml-5">
                    <li><a href="{% url 'product_list' 1 %}">Products</a></li>
                    <li><a href="{% url 'about_us' %}">About us</a></li>
                </ul>
            </div>
            <div class="col-6 item text">
                <h3 class="mb-3">Ryan Mobile</h3>
                <p>Tel: 02363.789789</p>
                <p>Store 1: 02 Quang Trung Street, Hai Chau District, Da Nang City</p>
                <p>Store 2: 01 Dien Bien Phu Street, Binh Thanh District, Ho Chi Minh City</p>
            </div>
            <div class="col item social">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
        <p class="copyright">© Ryan Mobile 2023. All right reserved</p>
    </div>
</div>
